# Bytecode
__pycache__/
*.py[cod]
*$py.class

# Packaging / install editável
*.egg-info/
.eggs/
dist/
build/

# Ambientes virtuais
.venv/
venv/
env/

# Testes e cobertura
.pytest_cache/
.coverage
htmlcov/

# SO
.DS_Store
Thumbs.db
